<nav class="navbar navbar-expand-lg navbar-light navbaground">
  <div class="container-fluid">
    <a class="navbar-brand navtext" routerLink="/dashboard"
      ><i class="fas fa-book-open"></i> Knowledge Hub</a
    >
    <div class="search">
      <input
        type="text"
        class="form-control"
        placeholder="search"
        [(ngModel)]="searchData"
        (keyup.enter)="getSearchData()"
      />
      <i (click)="getSearchData()" class="fas fa-search"></i>

      <button
        (click)="openDialog()"
        mat-mini-fab
        color="primary"
        matTooltip="Voice Search"
      >
        <!-- <i class="material-icons"> mic </i> -->
        <i class="fas fa-microphone"></i>
      </button>
      <!-- <button class="btn btn-success" (click)="getSearchData()">Search</button> -->
    </div>

    <div class="userprofile d-flex">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        *ngIf="!premiumUser"
      >
        Premium <i class="fas fa-dollar-sign"> 60</i>
      </button>

      <a class="navtext" routerLink="/uploadbook">Upload Book</a>
      <div
        class="userName"
        style="color: white; text-decoration: none; margin-right: 13px"
      >
        <p style="color: white">{{ userName }}</p>
        <a [matMenuTriggerFor]="menu">
          <img
            class="img-circle img-sm"
            alt="Profile Picture"
            src="data:image/png;base64,{{ pfp }}"
          />
        </a>
        <mat-menu #menu="matMenu">
          <button class="tile" routerLink="/userprofile" mat-menu-item>
            <i class="fas fa-user-circle"></i>
            <a style="text-decoration: none; color: black">{{ userName }}</a>
          </button>
          <button (click)="toFavourites()" class="tile" mat-menu-item>
            <i class="far fa-heart"></i>
            <a style="text-decoration: none; color: black">Favourites</a>
          </button>
          <button class="tile" (click)="logout()" mat-menu-item>
            <i class="fas fa-sign-out-alt"></i>
            <a style="text-decoration: none; color: black">Logout</a>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid genre-stacker">
  <div class="spinner-border text-primary" id="spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="row">
    <div class="col-md-3 mt-4" *ngFor="let item of datas">
      <div class="card" style="width: 19rem" (click)="toBookProfile(item)">
        <img
          class="card-img-top"
          src="data:image/png;base64,{{ getBookImage(item) }}"
          alt=""
        />
        <div class="card-body" (click)="$event.stopPropagation()">
          <h2 class="card-title">{{ item.bookTitle | titlecase }}</h2>
          <p class="card-text">Author: {{ item.authorName | titlecase }}</p>
          <p class="card-text">{{ item.bookGenre }}</p>
          <div class="button--group">
            <i
              style="color: #007fff"
              class="far fa-eye"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Total Views"
            >
              {{ getBookViews(item) }}</i
            >

            <i
              style="color: #e44d2e"
              class="fas fa-arrow-down"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Total Downloads"
            >
              {{ getBookDownloads(item) }}</i
            >
            <!-- <a class="btn btn-primary" (click)="toBookProfile(item)"
              >View Book</a
            > -->
            <a
              class="pe-3"
              *ngIf="!checkIfFavourite(item)"
              (click)="addToFavourites(item)"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Favourite"
              ><i class="far fa-heart fa-2x"></i
            ></a>
            <a
              class="pe-3"
              *ngIf="checkIfFavourite(item)"
              (click)="unfavourite(item)"
              data-toggle="tooltip"
              data-placement="bottom"
              title="UnFavourite"
              ><i style="color: red" class="fas fa-heart fa-2x"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title dialog-head" id="staticBackdropLabel">
          Pay just $60 per month
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2>Become a premimum member today and enjoy:</h2>
        <ol>
          <li>
            <strong>Access to download a book: </strong> Cannot come online
            everytime? Use Download option to download any book and read
            offline.
          </li>
          <li>
            <strong>Access to in-built dictionary: </strong>Have a doubt about a
            word? No worries, use the in-built dictionary to get the meaning of
            any word instantly
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          (click)="onPay()"
          class="btn btn-success"
        >
          Payment
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="premiumUserDetails != null">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields
    below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container-fluid genre-stacker">
  <div class="books mt-5" *ngIf="lastReadBooks.length != 0">
    <h2>Continue Reading...</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of lastReadBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ getBookImage(book) }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >

              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                (click)="addToFavourites(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                (click)="unfavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="recommendedBooks.length != 0">
    <h2>Recommended</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of recommendedBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ getBookImage(book) }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->

              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="thrillerBooks.length != 0">
    <h2>Thriller Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of thrillerBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>

            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->

              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >

              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book); $event.stopPropagation()"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book); $event.stopPropagation()"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="actionBooks.length != 0">
    <h2>Action Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of actionBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="horrorBooks.length != 0">
    <h2>Horror Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of horrorBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="techBooks.length != 0">
    <h2>Tech Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of techBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="comicBooks.length != 0">
    <h2>Comic Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of comicBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->
              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books mt-5" *ngIf="romanceBooks.length != 0">
    <h2>Romance Books</h2>
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let book of romanceBooks">
        <div class="card" style="width: 19rem" (click)="toBookProfile(book)">
          <img
            class="card-img-top"
            src="data:image/png;base64,{{ book.imageByte }}"
            alt="Card image cap"
          />
          <div class="card-body" (click)="$event.stopPropagation()">
            <h2 class="card-title">{{ book.bookTitle | titlecase }}</h2>
            <h4 class="card-text">Author: {{ book.authorName | titlecase }}</h4>
            <p class="card-text">
              {{ book.description }}
            </p>
            <div class="button--group">
              <!-- <a class="btn btn-primary" (click)="toBookProfile(book)"
                >View Book</a
              > -->

              <i
                style="color: #007fff"
                class="far fa-eye"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Views"
              >
                {{ getBookViews(book) }}</i
              >

              <i
                style="color: #e44d2e"
                class="fas fa-arrow-down"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Total Downloads"
              >
                {{ getBookDownloads(book) }}</i
              >
              <a
                class="pe-3"
                *ngIf="!checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Favourite"
                (click)="addToFavourites(book)"
                ><i class="far fa-heart fa-2x"></i
              ></a>
              <a
                class="pe-3"
                *ngIf="checkIfFavourite(book)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="UnFavourite"
                (click)="unfavourite(book)"
                ><i style="color: red" class="fas fa-heart fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
