<div>
    <div mat-dialog-title class="dialog-title">
        <div class=".mat-display-1 padding">Payment of $60 successful!!!</div>
    </div>
    <div mat-dialog-content>
        <h2>Now Enjoy:</h2>
        <ol>
            <li><strong>Access to download a book: </strong> Cannot come online everytime? Use Download option to download any book and read offline. </li>
            <li><strong>Access to in-built dictionary: </strong>Have a doubt about a word? No worries, use the in-built dictionary to get the meaning of any word instantly</li>
        </ol>
    </div>
    <div fxLayoutAlign="end" mat-dialog-actions>
        <button mat-raised-button (click)="onClose()" matTooltip="Close">Explore Now</button>
    </div>
</div>